@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.wrapper {
    ul {
        list-style: none;
        padding: 8px 30px;
        li.listHeader {
            color: $dark-font-color;
            font-size: 16px;
            border-bottom: 1px solid #efefef;
            min-height: 40px;
            display: flex;
            align-items: center;
        }
        li.listItem {
            border-bottom: 1px solid #efefef;
            min-height: 60px;
            display: flex;
            align-items: center;
            div {
                align-items: center;
                button {
                    font-size: 10px;
                    margin-right: 4px;
                    padding: 4px;
                }
            }
            button.seeAnswersBtn {
                color: $primary-font-color;
                cursor: pointer;
                text-transform: uppercase;
                font-size: 13px;
                &:hover {
                    background-color: $hover-light-color;
                }
            }
        }
    }
}

svg.checkIcon {
    color: green;
}
svg.clearIcon {
    color: red;
}

div.dialogContent {
    min-width: 320px;
    padding: 10px 30px 30px;
}
div.question {
    margin: 15px 10px;
    font-size: 18px;
    color: $dark-font-color;
    font-weight: bold;
}
div.answer {
    margin: 8px;
    color: $dark-font-color;
    font-size: 16px;
}

@include for-desktop() {
    .wrapper {
        ul {
            padding: 8px 30px;
            li.listItem {
                button.seeAnswersBtn {
                    font-size: 13px;
                }
            }
        }
    }
}
