
@mixin flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin container-center() {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

@mixin for-desktop() {
    @media screen and (min-width: 960px) {
        @content;
      }
}
