@import '../../styles/variables';
@import '../../styles/mixins';

form.formWrapper {
    display: flex;
    flex-direction: column;
    padding: 12px;
    div.fieldWrapper {
        display: flex;
        flex-direction: column;
        margin: 8px;
    }
    div.buttonsContainer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 8px;
        button {
            color: $secondary-font-color;
            background-color: $secondary-bg-color;
            padding: 8px 16px;
            &:hover {
                background-color: $hover-button-color;
            }
        }
    }
    div.coursesWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

label.ariaLabel {
    color: $primary-font-color;
    font-weight: bold;
}

@include for-desktop() {
    form.formWrapper {
        padding: 24px;
        min-width: 600px;
    }
}