@import '../styles/variables';
@import '../styles/mixins';

div.headerWrapper {
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    background-color: $dark-background-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $navbar-height;
    z-index: 1201;
    left: 0;
    .logo {
        display: flex;
        align-items: center;
        margin-left: 10px;
        img.logoImage {
            max-height: 45px;
            margin-left: 10px;
        }
    }
    nav.menu {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0;
        span {
            height: 100%;
            a {
                padding: 0 10px;
                height: 100%;
                display: flex;
                align-items: center;
                color: $secondary-font-color;
                font-family: 'Josefin Sans', sans-serif;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: bold;
                text-decoration: none;
                &:hover {
                color: $primary-font-color;
                }
                &:active {
                background-color: rgba(0, 0, 0, 0.08); // should display active current page 
                }
            }
        }
        div.account {
            margin-left: 16px;
            button:hover {
                background: transparent;
            
            }
            span.userName {
                margin-left: 8px;
                color: $primary-font-color;
                font-weight: bold;
                font-size: 16px;
            }
            svg {
                color: $primary-font-color;
            }
            button.authBtn {
                background-color: $button-bg-color;
                border-radius: 25px;
                color: $secondary-font-color;
                font-weight: bold;
                &:hover {
                    background-color: $hover-button-color;
                }
            }
        }
    }
}

@include for-desktop() {
    div.headerWrapper {
        .logo img.logoImage {
            max-height: 45px;
            margin-left: 64px;
        }
        nav.menu {
            padding: 0 115px; 
        }
    }
}