@import '../styles/variables';

.header {
    width: 100%;
    position: sticky;
    background-color: $primary-bg-color;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .logo {
        a {
            color: $primary-font-color;
            text-decoration: none;
        }
    }
    .menu {
        span {
            padding: 8px;
            color: $primary-font-color;
            a {
                color: $primary-font-color;
                text-decoration: none;
            }
        }
    }
}
