@import '../../styles/variables';
@import '../../styles/mixins';

.wrapper {
    border-radius: 170px 0 0;
    background-color: $pink-bg-color;
    min-height: 300px;
    // transition: 0.2s ease-out;
    .content {
        width: 90%;
        margin: 0 auto;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
            min-width: 200px;
            border: 2px solid #116466;
            border-radius: 25px;
        }
    }
    &:hover {
        // box-shadow: -6px -5px 13px -1px rgba(0,0,0,0.17);
    }
}


@include for-desktop() {
    .wrapper {

        .content {
            width: 60%;
        }
    }
}
