$primary-bg-color: #FFF;
$secondary-bg-color: #2E5BFF;
$default-bg-color: #F4F6FC;

$primary-font-color: #2E5BFF;
$secondary-font-color: #FFF;
$faded-font-color: #b6b6b6;
$secondary-faded-font: #8A9BAF;
$dark-font-color: #2E384D;

$icon-color: purple;
$disabled-icon-color: rgba(0, 0, 0, 0.26);

$hover-button-color: #0f40f0;
$hover-light-color: #f5eef8;
$border-color: #2E5BFF;