$primary-bg-color: #FFF;
$secondary-bg-color: #00b0ff; //#8e24aa;
$default-bg-color: #F4F6FC;
$dark-background-color: #001658;
$presentation-bg: linear-gradient(to bottom, #7fcdff 0%, #d97b7b00 100%);
$card-header-bg: linear-gradient(to right, #00375c 0%, #000f47 -2%, #77d0ffb5 100%);
$button-bg-color: #00b0ff;//#2161d8;

$primary-font-color: #00b0ff;
$secondary-font-color: #FFF;
$faded-font-color: #777;
$secondary-faded-font: #8A9BAF;
$dark-font-color: #00375c;

$icon-color: #00b0ff;
$disabled-icon-color: rgba(0, 0, 0, 0.26);

$hover-button-color: #001658;
$hover-light-color: #dce7fabd;
$border-color: #00b0ff;

$navbar-height: 70px;

$button-box-shaddow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);