$primary-bg-color: #FFF;
$secondary-bg-color: #d9808c; //#8e24aa;
$default-bg-color: #FFF; //#F4F6FC;
$dark-background-color: #d1e8e2;
$presentation-bg: linear-gradient(to bottom, #d1e8e2 0%, #d97b7b00 100%);
$card-header-bg: linear-gradient(to left, #d9808c 0%, #d97b7b00 -2%, #ffcb9a 100%); //linear-gradient(to right, #00375c 0%, #000f47 -2%, #77d0ffb5 100%);
$button-bg-color: #d9808c;//#2161d8;

$primary-font-color: #d9808c;//#00b0ff;
$secondary-font-color: #FFF;
$faded-font-color: #777;
$secondary-faded-font: #8A9BAF;
$dark-font-color: #116466;

$icon-color: #116466;
$disabled-icon-color: rgba(0, 0, 0, 0.26);

$hover-button-color: #116466;
$hover-light-color: #d1e8e2;
$border-color: #116466;

$navbar-height: 70px;

$button-box-shaddow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);

$gray-bg-color: #d1e8e2;
$button-bg-color2: #3142c4;
$font-color: #116466;
$pink-bg-color: #ffcb9a;