@import '../../../styles/variables';

div.mainWrapper {
    padding: 8px;
}

div.loading {
    margin: 20px;
    font-size: 18px;
}

form.formWrapper {
    display: flex;
    flex-direction: column;
    padding: 24px;
    min-width: 600px;
    div.questionWrapper {
        display: flex;
        flex-direction: column;
        margin: 8px;
    }
    div.buttonsContainer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 8px;
        button {
            color: $secondary-font-color;
            background-color: $secondary-bg-color;
            padding: 8px 16px;
            &:hover {
                background-color: $hover-button-color;
            }
        }
    }
}

div.card {
    position: relative;
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #333;
    background: $primary-bg-color;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    font-size: .875rem;
    div.cardHeaderPrimary {
        border-radius: 3px;
        padding: 15px;
        margin: -20px 15px 0;
        color: gray;
    }
    div.cardHeader {
        z-index: 3;
        border-bottom: none;
        font-size: 16px;
    }
    div.usersTitle {
        display: flex;
        align-items: center;
        svg {
            padding-bottom: 5px;
            padding-right: 5px;
        }
    }
    div.cardBody {
        ul {
            list-style: none;
            padding: 8px 30px;
            li.listHeader {
                color: $dark-font-color;
                font-size: 16px;
                border-bottom: 1px solid #efefef;
                min-height: 40px;
                display: flex;
                align-items: center;
            }
            li.listItem {
                border-bottom: 1px solid #efefef;
                min-height: 60px;
                display: flex;
                align-items: center;
                div {
                    align-items: center;
                    button {
                        font-size: 10px;
                        margin-right: 4px;
                        padding: 4px;
                    }
                }
                span.roles {
                    color: orangered;
                    text-transform: uppercase;
                }
            }
        }
    }
}
