
.container {
    display: flex;
    margin: 10px 5px;
    &.isOdd {
        flex-direction: row-reverse;
        .message {
            color: #fff;
            background: rgb(156, 206, 193);
        }
    }
    .message {
        width: 70%;
        background: #ccc;
        color: gray;
        min-height: 50px;
        padding: 8px;
        border-radius: 5px;
    }
}