@import '../../../styles/variables';
@import '../../../styles/mixins';

.wrapper {
    width: 90%;
    margin: 20px auto;
    .title {
        height: 100px;
        background:$dark-background-color;
        border-radius: 0 0 110px;
        padding: 30px;
        display: flex;
        align-items: center;
        h2 {
            font-size: 32px;
            color: $primary-font-color;
        }
    }
    .description {
        width: 80%;
        margin: 20px auto;
    }
}

@include for-desktop() {
    .wrapper {
        width: 65%;
        .title {
            padding: 50px 70px;
            border-radius: 0 0 170px;
            h2 {
                font-size: 50px;
            }
        }
    }
}