@import '../../../styles/variables';
@import '../../../styles/mixins';

.wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto 8px;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
}

div.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    button {
        // height: 30px;
    }
}


div.card {
    position: relative;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
    border: 0;
    border-radius: 6px;
    color: #333;
    background: #FFF;
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 300px;
    word-wrap: break-word;
    font-size: .875rem;
    div.cardHeaderPrimary {
        border-radius: 3px;
        padding: 15px;
        background: $background-gradient;
        box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);
        margin: -20px 15px 0;
        color: #FFF;
    }
    div.cardHeader {
        z-index: 3;
        border-bottom: none;
    }
    div.cardBody {
        margin: 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div.description {
            color: $secondary-faded-font;
            font-size: 16px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        button {
            margin-top: 8px;
            color: #8e24aa;
            &:hover {
                background-color: $hover-light-color;
            }
        }
    }
}

@include for-desktop() {
    div.card {
        width: 30%;
    }
}
