@import '../../styles/variables';

div.courseCard {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 100%;
    margin: 8px 0;
    button {
        background-color: $secondary-bg-color;
        color: $secondary-font-color;
        &:hover {
            background-color: $hover-button-color;
        }
    }
}

