@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.wrapper {
    display: flex;
    flex-direction: column;
    .sessions {
        display: flex;
        padding: 0 10px;
        button {
            min-width: auto;
            padding: 10px;
            border-radius: 0;
            color: $dark-font-color;
            font-weight: bold;
            margin: 0 4px;
            text-decoration: underline;
            box-shadow: 0 0 0 0  rgba(0,0,0,0);
            transition: .3s all ease-in-out;
            &:hover {
                box-shadow: 1px 1px 1px 1px rgba(0,0,0,.11);
                background: transparent;
            }
            &.selectedSession {
                // background-color: #fff;
                // border: 2px solid $dark-font-color;
                box-shadow: 1px 1px 1px 1px rgba(0,0,0,.11);
            }
        }
    }
    .content {
        width: 80%;
        padding: 16px;
    }
}

div.dialogContent {
    margin: 0 auto;
}

.attendance {
    display: flex;
    flex-direction: column;
    .members {
        padding: 0 20px;
    }
}
.sessionInfo {
    button {
        margin-top: 20px;
    }
}

@include for-desktop() {
    .wrapper {
        margin: 0 30px;
    }
    .attendance {
        flex-direction: row;
    }
}
