@import "../../../styles/variables";
@import "../../../styles/mixins";

.container {
  font-size: 24px;
  display: flex;
  align-items: center;
  margin: 0px;
  & span:last-child {
    font-weight: 600;
    text-decoration: none;
    cursor: default;
  }
}

.crumbName {
  color: $secondary-font-color;
  cursor: pointer;
  margin: 0 4px;
}

.crumbName:hover {
  text-decoration: underline;
}

// @include for-desktop {
//   .container {
//     font-size: 18px;
//   }
// }

