@import '../../../styles/variables';

button.button {
    border-radius: 25px;
    color: $secondary-font-color;
    background-color: $button-bg-color;
    box-shadow: $button-box-shaddow;
    padding-left: 16px;
    padding-right: 16px;
    &:hover {
        background-color: $hover-button-color;
    }
}

div.loadingCircle{
    color: $secondary-font-color;
}

button.isDisabled, button.isDisabled:hover{
    cursor: default;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12);
  }
