@import '../styles/variables';

.mainWrapper {
    width: 70%;
    margin: 4px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    div.card {
        width: 30%;
        margin: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .media {
            object-fit: cover;
        }
    }
}