@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.wrapper {
    padding: 10px 20px;
    .instructions {
        font-size: 16px;
        margin-bottom: 20px;
    }
}

div.questionWrapper {
    display: flex;
    flex-direction: column;
}
div.buttonsContainer {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

div.inputContainer {
    width: 100%;
    margin-right: 8px;
}

@include for-desktop() {
    div.inputContainer {
        width: 80%;
    }
    div.buttonsContainer {
        width: 25%;
    }
}
